[gcode_macro SENSORLESS_HOME_ALL]
description: Home XY with modified current
gcode:
    {% set HOME_CUR_X = params.X_CUR|default(0.250)|float %}
    {% set HOME_CUR_Y = params.Y_CUR|default(0.250)|float %}
    {% set HOME_ACCEL = params.ACCEL|default(500)|float %}
    {% set BOUNCE = params.BOUNCE|default(10)|float %}
    {% set BOUNCE_SPEED = params.BOUNCE_SPEED|default(20)|float %}
    {% set driver_config_x = printer.configfile.settings['tmc2209 stepper_x'] %}
    {% set driver_config_y = printer.configfile.settings['tmc2209 stepper_y'] %}
    {% set RUN_CUR_X = driver_config_x.run_current %}
    {% set RUN_CUR_Y = driver_config_y.run_current %}
    {% set PAUSE = params.PAUSE|default(2000)|int %}

    # Set current for sensorless homing
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR_Y}
    # Set homing acceleration
    SET_VELOCITY_LIMIT ACCEL={HOME_ACCEL} ACCEL_TO_DECEL={(HOME_ACCEL * 0.5)}
    # Pause to ensure driver stall flag is clear
    G4 P{PAUSE}
    # Home X
    G28 X0
    {% if BOUNCE %}
        # Move away
        G91
        G1 X{BOUNCE} F{(BOUNCE_SPEED * 60)}
        G90
    {% endif %}
    # Home Y
    G28 Y0
    {% if BOUNCE %}
        # Move away
        G91
        G1 Y{BOUNCE} F{(BOUNCE_SPEED * 60)}
        G90
    {% endif %}
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR_Y}
    # Pause to ensure driver stall flag is clear
    G4 P{PAUSE}


[gcode_macro SENSORLESS_HOME_X]
description: Home X with modified current
gcode:
    {% set HOME_CUR = params.CURRENT|default(0.250)|float %}
    {% set HOME_ACCEL = params.ACCEL|default(500)|float %}
    {% set BOUNCE = params.BOUNCE|default(10)|float %}
    {% set BOUNCE_SPEED = params.BOUNCE_SPEED|default(20)|float %}
    {% set driver_config = printer.configfile.settings['tmc2209 stepper_x'] %}
    {% set RUN_CUR = driver_config.run_current %}
    {% set PAUSE = params.PAUSE|default(2000)|int %}

    # Set current for sensorless homing
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
    # Set homing acceleration
    SET_VELOCITY_LIMIT ACCEL={HOME_ACCEL} ACCEL_TO_DECEL={(HOME_ACCEL * 0.5)}
    # Pause to ensure driver stall flag is clear
    G4 P{PAUSE}
    # Home
    G28 X0
    {% if BOUNCE %}
        # Move away
        G91
        G1 X{BOUNCE} F{(BOUNCE_SPEED * 60)}
        G90
    {% endif %}
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR}
    # Pause to ensure driver stall flag is clear
    G4 P{PAUSE}


[gcode_macro SENSORLESS_HOME_Y]
description: Home Y with modified current
gcode:
    {% set HOME_CUR = params.CURRENT|default(0.250)|float %}
    {% set HOME_ACCEL = params.ACCEL|default(500)|float %}
    {% set BOUNCE = params.BOUNCE|default(10)|float %}
    {% set BOUNCE_SPEED = params.BOUNCE_SPEED|default(20)|float %}
    {% set driver_config = printer.configfile.settings['tmc2209 stepper_y'] %}
    {% set RUN_CUR = driver_config.run_current %}
    {% set PAUSE = params.PAUSE|default(2000)|int %}
    
    # Set current for sensorless homing
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
    # Set homing acceleration
    SET_VELOCITY_LIMIT ACCEL={HOME_ACCEL} ACCEL_TO_DECEL={(HOME_ACCEL * 0.5)}
    # Pause to ensure driver stall flag is clear
    G4 P{PAUSE}
    # Home
    G28 Y0
    {% if BOUNCE %}
        # Move away
        G91
        G1 Y{BOUNCE} F{(BOUNCE_SPEED * 60)}
        G90
    {% endif %}
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR}
    # Pause to ensure driver stall flag is clear
    G4 P{PAUSE}



# HOME WITH ENDSTOPS

[gcode_macro SENSOR_HOME_ALL]
description: Home XY
gcode:
    {% set HOME_ACCEL = params.ACCEL|default(500)|float %}
    {% set BOUNCE = params.BOUNCE|default(10)|float %}
    {% set BOUNCE_SPEED = params.BOUNCE_SPEED|default(20)|float %}
    {% set PAUSE = params.PAUSE|default(2000)|int %}

    # Set homing acceleration
    SET_VELOCITY_LIMIT ACCEL={HOME_ACCEL} ACCEL_TO_DECEL={(HOME_ACCEL * 0.5)}
    # Pause to ensure driver stall flag is clear
    G4 P{PAUSE}
    # Home X
    G28 X0
    {% if BOUNCE %}
        # Move away
        G91
        G1 X{BOUNCE} F{(BOUNCE_SPEED * 60)}
        G90
    {% endif %}
    # Home Y
    G28 Y0
    {% if BOUNCE %}
        # Move away
        G91
        G1 Y{BOUNCE} F{(BOUNCE_SPEED * 60)}
        G90
    {% endif %}
    # Pause to ensure driver stall flag is clear
    G4 P{PAUSE}


[gcode_macro SENSOR_HOME_X]
description: Home X
gcode:
    {% set HOME_ACCEL = params.ACCEL|default(500)|float %}
    {% set BOUNCE = params.BOUNCE|default(10)|float %}
    {% set BOUNCE_SPEED = params.BOUNCE_SPEED|default(20)|float %}
    {% set PAUSE = params.PAUSE|default(2000)|int %}

    # Set homing acceleration
    SET_VELOCITY_LIMIT ACCEL={HOME_ACCEL} ACCEL_TO_DECEL={(HOME_ACCEL * 0.5)}
    # Pause to ensure driver stall flag is clear
    G4 P{PAUSE}
    # Home
    G28 X0
    {% if BOUNCE %}
        # Move away
        G91
        G1 X{BOUNCE} F{(BOUNCE_SPEED * 60)}
        G90
    {% endif %}
    # Pause to ensure driver stall flag is clear
    G4 P{PAUSE}



[gcode_macro SENSOR_HOME_Y]
description: Home Y
gcode:
    {% set HOME_ACCEL = params.ACCEL|default(500)|float %}
    {% set BOUNCE = params.BOUNCE|default(10)|float %}
    {% set BOUNCE_SPEED = params.BOUNCE_SPEED|default(20)|float %}
    {% set PAUSE = params.PAUSE|default(2000)|int %}

    # Set homing acceleration
    SET_VELOCITY_LIMIT ACCEL={HOME_ACCEL} ACCEL_TO_DECEL={(HOME_ACCEL * 0.5)}
    # Pause to ensure driver stall flag is clear
    G4 P{PAUSE}
    # Home
    G28 Y0
    {% if BOUNCE %}
        # Move away
        G91
        G1 Y{BOUNCE} F{(BOUNCE_SPEED * 60)}
        G90
    {% endif %}
    # Pause to ensure driver stall flag is clear
    G4 P{PAUSE}