#################################################
# Print start
#################################################

[gcode_macro PRINT_START]
gcode:
  SYSTEM_STATUS
  SET_GCODE_OFFSET Z=0  
  G28 
  G21
  G90
  M83
  G92 E0  
  ;BED_MESH_PROFILE LOAD=default
  BED_MESH_CLEAR  
  SET_FAN_SPEED CONTROLLER_FAN=mainboard_fan_r SPEED=0.45
  SET_FAN_SPEED CONTROLLER_FAN=mainboard_fan_l SPEED=0.45
  G1 X162.5 Y162.5 Z15 F9000    
  M190 S[bed_temperature_initial_layer_single]              
  M109 S145
  CARTOGRAPHER_TOUCH_HOME                  
  BED_MESH_CALIBRATE                
  G0 X20 Y20 F12000
  M109 S[nozzle_temperature]
  G1 E-0.05 F2100  
  G0 Z0 F7200
  G1 E0.5 F2100 
  G92 E0
  G91                                                  
  ;SET_FAN_SPEED FAN=auxiliary_cooling_fan SPEED=0.3
  SET_PRESSURE_ADVANCE ADVANCE=0.04 ;SMOOTH_TIME=0.03
  M118 STARTING PRINT...
  G1 Y10 F1600
  G1 X100 E20 F1600
  G1 X50 F1550
  G1 X80 E20 F1600 
  G1 Y10 F500
  G1 X-120 E20 F600                                    
  G90   

#gcode:
   #{% set BED_TEMP = params.bed_temperature_initial_layer_single|default(60)|float %}
   #G28 ; Home all axes
   #G21 ; Millimeter units
   #G90 ; Absolute XYZ
   #M83 ; Relative E
   #SET_PRESSURE_ADVANCE ADVANCE=0.018
   #G92 E0 ; Reset extruder distance
   #SET_GCODE_OFFSET Z=0  
   #BED_MESH_CLEAR  
   #G1 X162.5 Y162.5 Z15 F9000    
   #M190 S[BED_TEMP] ; Set final bed temperature
   #M109 S150
   #G28 Z METHOD=CONTACT CALIBRATE=1 ; Home Z axis again to account for thermal expansion    
   #BED_MESH_CALIBRATE ; Calibrate the bed mesh
   #G29; mesh bed leveling ,comment this code to close it
   #G28 Z METHOD=CONTACT CALIBRATE=0  
   #G0 X20 Y20 F12000
   #M109 S215 ; Set & wait for hotend temp 
   #G1 E-0.5 F2100 ; Retract  
   #G0 Z0.2 F7200 ; Move to start layer height
   #G1 E0.5 F2100 ; Un-retract
   #G91 ; Incremental positioning 
   #G1 X100 E20 F1600 ;Primelines
   #G1 X50 F1550
   #G1 X100 E20 F1600 
   #G1 Y10 F500
   #G1 X-150 E20 F600                                    
   #G90
   #M106 S255   

#################################################
# Print end
#################################################

[gcode_macro PRINT_END]
gcode:
    M106 P2 S0 ; Chamber recirc fan
    M106 P0 S0 ; Hotend fan
    M106 P3 S0 ; Activated carbon fan
    
    M104 S0
    M140 S0
    M141 S0

    M220 S100
    M221 S100

    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout} ; set timeout back to configured value
    CLEAR_PAUSE
    BED_MESH_CLEAR      
    BED_MESH_PROFILE LOAD=default
    G31
    SET_FILAMENT_SENSOR SENSOR=fila ENABLE=0
    M84

    BEEP I=2 DUR=500